@import url("http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic,900");

html {
    display: table;
    margin: auto;
}

body {
    font-family: 'Roboto';
    font-size: 12pt;
    background-color: #f2f2f2;
    display: table-cell;
    horizontal-align: middle;
    max-width: 8in;
}

a:link {
    text-decoration: none;
}
